<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.houwei.guaishang">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 读取相册 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 环信SDK 开始 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 环信SDK 结束 -->

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <!-- shareSDK -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 极光推送 -->
    <uses-permission android:name="com.houwei.guaishang.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".manager.ITopicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AMxg4D7ItWlEmGQ9ciXpvtcm8NNOxnN8" />
        <meta-data
            android:name="Mob-AppKey"
            android:value="15b5b9e067b56" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="7b60e80917dd1d9b1f90223b02215b9b" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MinePaidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineCustomerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".profile.ProfileEditActivity"/>
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RechargDialogActivity" />
        <activity android:name=".activity.OrderChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrderChatActivity"/>
        <activity
            android:name=".activity.BrandSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RechargDialogActivity" />
        <activity
            android:name=".activity.RechargeBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.newui.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineMoneyLogRootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HomePageActivity"/>
        <activity
            android:name=".activity.MineTakeMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MissionSignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimationActivity" />
        <activity
            android:name=".activity.VideoReleaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.JCFullScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoCommentsActivity"
            android:screenOrientation="portrait" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.ChatEaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.UserInfoActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.BlacklistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupPublicDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupMineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupMemberSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupPublicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchMoreTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchMoreMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.TopicMineCommentActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.TopicMinePraiseActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.WarningReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.TopicMineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineNearMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserFindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".easemob.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.HelpActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> -->
        <activity
            android:name=".view.cropimage.CropImageActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.MineDynamicActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.TagPersonActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.MinePersonalActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.CropperActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.UserRegInfoPersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme.Light"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.EditTextActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.TagJobActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.MinePersonalInfoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme.Light" />
        <activity
            android:name=".activity.MineSystemPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentUnReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FriendShipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserOpinionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineSystemActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name="com.houwei.guaishang.activity.UserLoginOrRegActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.HisRootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".activity.UserLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserRegMobileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!--
             adjustPan 不对界面参数任何影响
        		adjustResize和默认一样
        -->
        <activity android:name=".debug.DebugActivity" />
        <activity android:name=".debug.IconTestActy" />
        <activity android:name=".huanxin.ChatActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".preview.PreviewActivity"/>
        <activity
            android:name=".activity.TopicReleaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RechargDialogActivity"/>
        <activity
            android:name=".activity.TopicDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.newui.TopicDetailComActivity" />

        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105597476" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="cn.smssdk.SMSSDKUIShell" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->


        <!-- 环信SDK开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="houweiwuzi#guaishang" />
        <!--
        声明sdk所需的service
        <service />中定义了intent-filter的话，android:exported属性值默认为true，
        而你的<service />定义中没有指定访问权限，其他程序不需要申请权限便可以启动这个service，因而有这个安全警告
        -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 极光receiver -->
        <receiver
            android:name=".JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.houwei.guaishang" />
            </intent-filter>
        </receiver>

        <!-- Umeng Analytics start.怪商 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b81e1067e58e1593000fc3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="itopic" />
        <!-- Umeng Analytics end -->


        <!-- baidu map guaishang -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- WXPay sdk begin -->
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />
        <!-- WXPay sdk end -->


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->

        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name=".activity.newui.ReleaseActivity" />
        <activity android:name=".activity.newui.TestActivity" />
        <activity android:name=".activity.newui.TopicDetailMeActivity" />
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105597476" />
            </intent-filter>
        </activity>
        <!-- QQ分享必须配置上面的activity tencent后面的appid改成你自己的QQ的appid即可 -->


        <!-- 友盟QQ分享 -->
        <!--
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105597476" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        -->

        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.ProfileInfoActivity"/>
    </application>

</manifest>